.user-login
  position fixed
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  top 0
  left 0
  width 100%
  height 100%
  background url('../../assets/img/login-bg.jpg') no-repeat center / cover
  .user-login-main
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
    .user-login-title
      display flex
      flex-flow row nowrap
      justify-content center
      align-items center
      .user-login-title-name
        display flex
        flex-flow column nowrap
        justify-content space-between
        align-items center
        padding 0 20px
        border-right 3px solid #ffffff
        color #ffffff
        & > span:first-child
          font-size 30px
        & > span:last-child
          font-size 15px
      .user-login-title-content
        padding-left 20px
        font-size 48px
        color #ffffff
        font-weight 400
    .user-login-container
      background-color #e9e9ea
      padding 65px 50px
      margin-top 65px
      .name
        font-size 30px
        color #333333
        font-weight 400
      .user-login-input
        margin-top 45px
        .user-login-input-container
          position relative
          width 430px
          height 55px
          border 1px solid #cecece
          background-color #ffffff
          &:hover
            border-color #00c1de
          .icon-tag
            position absolute
            top 0
            left 0
            width 56px
            height 28px
            margin 13.5px 0
            background-size initial
            border-right 1px solid #bfbfbf
            margin-right 15px
          .user-login-input-content
            width 100%
            padding-left 72px
            padding-right 15px
            height 100%
            box-sizing border-box
            font-size 16px
            color rgba(0, 0, 0, 0.65)
            &::-moz-placeholder
              color #bfbfbf
              opacity 1
            &:-ms-input-placeholder
              color #bfbfbf
            &::-webkit-input-placeholder
              color #bfbfbf
          &.user-login-account
            margin-bottom 25px
          &.border-acitve
            border-color #00c1de
            box-shadow 0 0 2px 0px #00c1de
      .err
        padding 14px 0
        height 50px
        color #e62425
        font-size 14px
      .login-btn
        margin-top 20px
        width 100%
        height 57px
        background-color #0596df
        font-size 18px
        color #ffffff
        text-align center
        line-height 57px
        box-shadow 0 6px 10px 0px rgba(98, 98, 98, 0.3)
        cursor pointer
        transition box-shadow 0.2s ease-in-out
        user-select none
        &:hover
          opacity 0.8
        &:active
          box-shadow none
