.icon-tag
  padding 10px
  display inline
  background-position center
  background-repeat no-repeat
  &.icon-tag-commodity
    background-image url('./icon/commodity.png')
  &.icon-tag-equipment
    background-image url('./icon/equipment.png')
  &.icon-tag-home
    background-image url('./icon/home.png')
  &.icon-tag-invoice
    background-image url('./icon/invoice.png')
  &.icon-tag-merchant
    background-image url('./icon/merchant.png')
  &.icon-tag-reconciliation
    background-image url('./icon/reconciliation.png')
  &.icon-tag-revenue
    background-image url('./icon/revenue.png')
  &.icon-tag-single
    background-image url('./icon/single.png')
  &.icon-tag-statistics
    background-image url('./icon/statistics.png')
  &.icon-tag-financial-details
    background-image url('./icon/financial-details.png')
  &.icon-tag-financial-statistics
    background-image url('./icon/financial-statistics.png')
.ant-menu-item-selected
  .icon-tag
    &.icon-tag-commodity
      background-image url('./icon/commodity-checked.png')
    &.icon-tag-equipment
      background-image url('./icon/equipment-checked.png')
    &.icon-tag-home
      background-image url('./icon/home-checked.png')
    &.icon-tag-invoice
      background-image url('./icon/invoice-checked.png')
    &.icon-tag-merchant
      background-image url('./icon/merchant-checked.png')
    &.icon-tag-reconciliation
      background-image url('./icon/reconciliation-checked.png')
    &.icon-tag-revenue
      background-image url('./icon/revenue-checked.png')
    &.icon-tag-single
      background-image url('./icon/single-checked.png')
    &.icon-tag-statistics
      background-image url('./icon/statistics-checked.png')
    &.icon-tag-financial-details
      background-image url('./icon/financial-details-checked.png')
    &.icon-tag-financial-statistics
      background-image url('./icon/financial-statistics-checked.png')
.ant-tooltip-placement-right
  .icon-tag
    display none
.ant-menu-submenu-placement-rightTop
  &.ant-menu-submenu-popup
    &.ant-menu-dark
      .ant-menu-item-selected
        background-color #192129
        color #00c1de
        &::before
          position absolute
          top 0
          left 0
          content ''
          width 4px
          height 100%
          background-color #00c1de
      .icon-tag
        display none
.icon-tag
  &.icon-tag-setting-icon, &.icon-tag-setting-icon, &.icon-tag-search-icon, &.icon-tag-account-icon, &.icon-tag-password-icon, &.icon-tag-logo-icon, &.icon-tag-location-icon
    width 20px
    height 20px
    display inline-block
    padding 0
  &.icon-tag-notice-icon
    background-image url('./icon/notice-icon.png')
  &.icon-tag-setting-icon
    background-image url('./icon/setting-icon.png')
  &.icon-tag-search-icon
    background-size 100%
    background-image url('./icon/search-icon.png')
  &.icon-tag-account-icon
    background-image url('./icon/account-icon.png')
  &.icon-tag-password-icon
    background-image url('./icon/password-icon.png')
  &.icon-tag-logo-icon
    background-image url('./icon/logo-icon.png')
  &.icon-tag-location-icon
    background-image url('./icon/location-icon.png')
